@{
    ViewData["Title"] = "GetById";
}

@model ProductViewModel

<a asp-controller="Products" asp-action="Index"><button type="button" class="btn btn-danger mb-3"><i class="fa fa-arrow-left"></i> Geri Dön</button></a>

<div class="card">
    <div class="card-header">
        Ürün
    </div>
    <div class="card-body">
        <h5 class="card-title">@Model.Name</h5>
        <div class="container">
            <div class="row">
                <div class="col">
                    <p class="card-text">
                        <div>Id : @Model.Id</div>
                        <div>Açıklama : @Model.Description</div>
                        <div>Stok : @Model.Stock</div>
                        <div>Renk : @Model.Color</div>
                        <div>Süre : @Model.Expire</div>
                    </p>
                    <a href="#" class="btn btn-primary" style="position: absolute; bottom: 20px;">Satın Al ₺@Model.Price</a>
                </div>
                <div class="col">
                    <img style="width:100%; height:100%;" src="@(String.IsNullOrEmpty(Model.ImagePath) ? "/images/No-Image.png" : "/images/" + @Model.ImagePath )" />
                </div>
            </div>
        </div>

    </div>
</div>
