@{
    ViewData["Title"] = "Index";
}

@section Scripts
    {
    @if (TempData["status"] != null)
    {
        <script type="text/javascript">
            swal.fire("Başarılı", "@TempData["status"]", "success");
        </script>
    }

}

@*@if (TempData["status"] != null)
{
    <div class="alert alert-primary" role="alert">
        @TempData["status"]
    </div>
}*@

<h1>Index</h1>

@model List<AspNetCoreFirstExample.Web.ViewModels.ProductViewModel>

<h1>Ürünler</h1>

<a asp-controller="Products" asp-action="Add"><button type="button" class="btn btn-success mb-3" style="float: right;"><i class="fa-solid fa-plus"></i> Ürün Ekle</button></a>
<table class="table text-center">
    <thead class="table-dark">
        <tr>
            <th>Id</th>
            <th>Fotoğraf</th>
            <th>Kategori</th>
            <th>İsim</th>
            <th>Fiyat</th>
            <th>Stok</th>
            <th>Renk</th>
            <th>Yayınlansın mı?</th>
            <th>Süre(Ay)</th>
            <th>Açıklama</th>
            <th>Tarih</th>
            @*        <th>Genişlik</th>
            <th>Uzunluk</th>*@
            <th>Sil</th>
            <th>Güncelle</th>
            <th>Git</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr class="align-middle">
                <td>@item.Id</td>
                <td>
                    @if (!String.IsNullOrEmpty(item.ImagePath))
                    {
                        <img style="width:64px; height:64px;" src="/images/@(item.ImagePath)" />
                    }
                    else
                    {
                        <img style="width:64px; height:64px;" src="/images/No-Image.png" />
                    }
                </td>
                <td>@item.CategoryName</td>
                <td>@item.Name</td>
                <td>@item.Price</td>
                <td>@item.Stock</td>
                <td>@item.Color</td>
                <td>@(item.IsPublish ? "Evet" : "Hayır")
                </td>
                <td>@item.Expire</td>
                <td>@if (item.Description.Length > 20)
                    {
                        @item.Description.Substring(0,20)<p>...</p>
                    }
                    else
                    {
                        @item.Description
                    }
                </td>
                <td>@item.PublishDate</td>
                @*            <td>@item.Width</td>
            <td>@item.Height</td>*@
                <td><a asp-controller="Products" asp-action="Remove" asp-route-id="@item.Id"><button type="button" class="btn btn-danger"><i class="fa fa-trash"></i></button></a></td>
                <td><a asp-controller="Products" asp-action="Update" asp-route-id="@item.Id"><button type="button" class="btn btn-primary"><i class="fa fa-pencil"></i></button></a></td>
                @*<td><a asp-controller="Products" asp-action="GetById" asp-route-productId="@item.Id"><button type="button" class="btn btn-success"><i class="fa fa-arrow-right"></i></button></a></td>*@
                <td><a asp-route="product" asp-route-productId="@item.Id"><button type="button" class="btn btn-success"><i class="fa fa-arrow-right"></i></button></a></td>
            </tr>
        }
    </tbody>


</table>

@*<a asp-controller="Products" asp-action="pages" asp-route-page="1" asp-route-pagesize="3">1. sayfadan 3 ürün ver</a>*@
<a asp-route="productpage" asp-route-page="1" asp-route-pagesize="3">1. sayfadan 3 ürün ver</a>
<a asp-controller="Products" asp-action="pages" asp-route-page="2" asp-route-pagesize="3">2. sayfadan 3 ürün ver</a>
