
@{
    ViewData["Title"] = "Update";
}

@model Product

<h1>Ürün Güncelleme</h1>

<form asp-controller="Products" asp-action="Update" method="post">

    <div class="mb-3">
        <label asp-for="Name" class="form-label">Ürün İsmi</label>
        <input class="form-control" asp-for="Name">
    </div>
    <div class="mb-3">
        <label asp-for="Price" class="form-label">Ürün Fiyat</label>
        <input class="form-control" asp-for="Price">
    </div>
    <div class="mb-3">
        <label asp-for="Stock" class="form-label">Ürün Stok</label>
        <input class="form-control" asp-for="Stock">
    </div>
    <div class="mb-3">
        <label asp-for="Color" class="form-label">Ürün Renk</label>
        <select class="form-select" asp-for="Color" asp-items="@ViewBag.ColorSelect">
            <option value="">Renk Seçiniz...</option>
        </select>
    </div>
    <div class="form-check">
        <input class="form-check-input" asp-for="IsPublish">
        <label class="form-check-label" asp-for="IsPublish">
            Yayınlansın mı?
        </label>
    </div>

    <div class="mb-3 mt-3">
        <label>Ürün kaç ay satışta kalacak?</label>
        @foreach (var item in @ViewBag.Expire as Dictionary<string, int>)
        {
            <div class="form-check">
            <input checked="@(item.Value==ViewBag.ExpireValue ? true : false)" class="form-check-input" type="radio" id="Expire@(item.Value)" asp-for="Expire" value="@item.Value">
                <label class="form-check-label" asp-for="Expire" for="Expire@(item.Value)">
                    @item.Key
                </label>
            </div>
        }
    </div>

    <div class="form-floating mb-3">
        <textarea asp-for="Description" class="form-control" placeholder="Ürün açıklaması giriniz." id="floatingTextarea"></textarea>
        <label asp-for="Description">Ürün Açıklaması</label>
    </div>

    <div class="mb-3">
        <label asp-for="PublishDate" class="form-label">Ürün Yayınlanma Tarihi</label>
        <input class="form-control" asp-for="PublishDate">
    </div>

    <button class="btn btn-primary" type="submit">Kaydet</button>
    <button class="btn btn-danger" asp-controller="Products" asp-action="Index" type="submit">İptal</button>

</form>
